<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Path to java.exe, in case it is not on the enviroment path. Blank to rely
         on Windows finding it automatically.-->
    <add key="Java.exe Path" value="C:\Program Files (x86)\Java\jre7\bin"/>
    
    <!-- Parameters for java command. Use to set memory limits, server jar name, etc .
         Note that the '-nojline' arg is required for bukkit-based servers to get
         them to read from the standard input stream, which is required to send
         commands to the console.-->
    <add key="Java Params" value="-Xmx1024M -Xms1024M -jar tekkit.jar -nojline nogui"/>
    
    <!-- Output directory for the MineShell log file. Blank for current directory. -->
    <add key="Log Dir" value=""/>
    
    <!-- Name of the script file to use for extended processing of server output. -->
    <add key="Script File" value="BaseScript.cs"/>
  </appSettings>
</configuration>
